<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dindong.dingdong">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 用于写入缓存数据到扩展存储卡 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 用于申请调用A-GPS模块 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!-- 用于申请获取蓝牙信息进行室内定位 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".DDApp"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MainTheme"
        tools:replace="android:label,android:icon">
        <activity android:name=".presentation.main.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!-- 应用宝加固 android name -->
        <meta-data
            android:name="dingdong"
            android:value="1" />

        <service
            android:name="com.tencent.tmdownloader.TMAssistantDownloadService"
            android:exported="false"
            android:process=":TMAssistantDownloadSDKService" />

        <!-- 高德地图 -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="c6b87d66ff3941cb8f1d63d69807b5e4" />

        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="wx5b0c56b85d8488f3" />
            </intent-filter>
        </activity>

        <service android:name="com.amap.api.location.APSService" />

        <activity
            android:name=".presentation.main.MainActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />
        <!-- 全部门店 -->
        <activity
            android:name=".presentation.store.ShopListActivity"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />
        <!-- 门店教育列表 -->
        <activity android:name=".presentation.main.ShopInfoActivity" />
        <activity android:name=".presentation.main.IdentitySwitchActivity" />
        <activity android:name=".presentation.store.ShopMainActivity" />
        <activity
            android:name=".presentation.subject.SubjectListActivity"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />
        <activity android:name=".presentation.subject.SubjectDetailActivity" />
        <activity
            android:name=".presentation.main.LoginActivity"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />
        <activity android:name=".presentation.pay.OrderConfirmActivity" />
        <activity android:name=".presentation.user.SettingActivity" />
        <activity android:name=".presentation.user.ResetMobileActivity" />
        <activity android:name=".presentation.user.ResetPasswordActivity" />
        <activity android:name=".presentation.user.UserInfoActivity" />
        <activity
            android:name=".presentation.main.RegionSwitchActivity"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />
        <activity
            android:name=".presentation.pay.OrderListActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".presentation.main.RegisterActivity"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />
        <activity android:name=".presentation.user.wrist.BlueWristScanActivity" />
        <activity
            android:name=".presentation.user.wrist.BlueWristAddActivity"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />
        <activity
            android:name=".presentation.user.wrist.BlueWristMainActivity"
            android:launchMode="singleTask" />
        <activity android:name=".presentation.user.wrist.BlueWristDetailActivity" />
        <activity android:name=".presentation.main.fragment.UserAgreementActivity" />
        <activity android:name=".presentation.store.ShopMapActivity" />
        <activity android:name=".presentation.store.TeacherListActivity" />
        <activity android:name=".presentation.pay.OrderDetailActivity" />
        <activity android:name=".presentation.user.AboutActivity" />
        <activity android:name=".presentation.discovery.DiscoveryDetailActivity" />
        <activity
            android:name=".presentation.store.CommentShopActivity"
            android:windowSoftInputMode="stateUnchanged|stateHidden" />
        <activity
            android:name=".widget.photo.PhotoSelectActivity"
            android:windowSoftInputMode="stateUnchanged|stateHidden" />
        <activity
            android:name=".presentation.main.ForgetPasswordActivity"
            android:windowSoftInputMode="stateUnchanged|stateHidden" />
        <activity
            android:name=".presentation.main.SendMomentActivity"
            android:windowSoftInputMode="stateUnchanged|stateHidden" />
        <activity
            android:name=".presentation.store.ShopCommentListActivity"
            android:windowSoftInputMode="stateUnchanged|stateHidden" />
        <activity android:name=".presentation.store.ShopCommentDetailActivity" />
        <activity android:name=".presentation.user.UserMainActivity" />
        <activity android:name=".presentation.user.UserAccountActivity"></activity>
    </application>

</manifest>